body {
    background-color: SlateGrey;
   
}

#lab9 {
    padding: 0px 10px;
    border: 100px solid;
    border-width: thin;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    grid-row-gap:0px;
    background:LightSlateGray;
      
}

.card {
    margin-top: 40px;
    color:white;
    display: block;
    font-size:50px;
   text-align: center;
    margin-bottom: 100px;
}

.container {
    margin-top: 50px;
    font-size:50px;
}


h4 {
    text-shadow: black 1px 0 10px;
    margin-top: -40px;
    color:white; 
    font-size:50px;
    text-align: center;
   
}
i{
    color:white;
    text-shadow: 1px 1px 2px black;
    font-size:50px;
    text-align: center; 
}